%h1=t('.comments')
.table-wrapper
  %table
    %thead
      %tr
        %th=t('.content')
        %th=t('.user_id')
        %th=t('.car_id')
        %th

    %tbody
      - @comments.each do |comment|
        %tr
          %td= comment.content
          %td= comment.user_id
          %td= comment.car_id
          %td= link_to t('.destroy'), comment, method: :delete, data: { confirm: 'Are you sure?' }

