/* line 1, /mnt/c/Users/PC/Desktop/com2025_coursework/virtual_garage/app/assets/stylesheets/my_cars.scss */
body {
  background-image: url(/assets/garage_door_bg-c82a3124af1acd3f290241a102be4115e8e7bf784c26cb8db3fcaa84c03826ab.jpg);
  background-size: cover;
}

/* line 5, /mnt/c/Users/PC/Desktop/com2025_coursework/virtual_garage/app/assets/stylesheets/my_cars.scss */
.col-12 {
  padding: 0px;
  object-fit: fill;
  object-position: initial;
  align-items: center;
  height: 300px;
  width: 500px;
  height: auto;
  max-height: 800px;
  margin: 30px auto;
}

/* line 16, /mnt/c/Users/PC/Desktop/com2025_coursework/virtual_garage/app/assets/stylesheets/my_cars.scss */
.index_link {
  margin-bottom: 20px;
}

/* line 20, /mnt/c/Users/PC/Desktop/com2025_coursework/virtual_garage/app/assets/stylesheets/my_cars.scss */
.col-12:hover .caption {
  font-weight: bold;
}

/* line 24, /mnt/c/Users/PC/Desktop/com2025_coursework/virtual_garage/app/assets/stylesheets/my_cars.scss */
.img-responsive {
  width: 600px;
  margin: 0 auto;
}

/* line 28, /mnt/c/Users/PC/Desktop/com2025_coursework/virtual_garage/app/assets/stylesheets/my_cars.scss */
h1 {
  text-decoration-color: whitesmoke;
  text-decoration: underline;
  text-align: center;
}
