%nav.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
      %div{:class => 'logo_area'}
        %navbar-brand
          %a{href: root_path}
            %img{:src => asset_url("virtualgarage.png"), :id => 'logo'}
    %ul.nav.navbar-nav.navbar-right
      %li
        = form_tag search_path, method: :get, class: "navbar-form navbar-right", role: "search" do
          %p.input-group
            = text_field_tag :search, '' , class: "form-control form-control-sm ml-3 w-75", placeholder: "Search for a user's garage...", id: "search_field"
            %span.input-group-btn
              %button.btn.btn-default{:type => "submit"}
                %i.glyphicon.glyphicon-search
      %li
        %a{:href => new_user_registration_path}
          %span.glyphicon.glyphicon-user
          =t('.sign_up')
      %li
        %a{:href => new_user_session_path}
          %span.glyphicon.glyphicon-log-in
          =t('.sign_in')