/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */   

    @import 'bootstrap-sprockets';
    @import 'bootstrap';
    $darkbg: #222;
    $navtextcolor: #869298;
    $brandcolor: #b4c731;

html{
    height: 100%;
}
.page-footer{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $navtextcolor;
    background-color: $darkbg;
}
body {
    background-image: asset_url("virtualgar-02-01.jpg");   
    background-size: cover; 
    height: 100%;
    margin: 0;
}
#logo{
    width: 377px;
    position: relative;
    margin: auto;
    padding: 10px;
}

//make the navigation bar items more spaced out
ul{
    li{
        margin-left: 20px;
    }   
}

h1{
    padding-left: 30px;
}
#search_field{
    width: 250px;
}

.thumbnail{
    width: 100%;
    padding: 3px;
}
.content-wrapper{
    margin-bottom: 20px;
    padding: 0px;
}
#login{
    padding-left: 30px;
}
.new-car-field{
    padding-left: 20px;
}

.actions{
    padding-left: 30px;
}
.form_wrapper{
    display: inline-block;
    margin: auto;
    text-align: left;
    padding: 20px;
    background-color: $darkbg;
    color: $navtextcolor;
}
.form-content-wrapper{
    width: 100%;
    display: block;
    text-align: center;
}

a{
    color: $brandcolor;
  
    &:visited {
      color: $brandcolor;
    }
  
    &:hover {
      color: $navtextcolor;
      background-color: transparent;
    }
  }
.actions{
    color: black;
}
input{
    color:black;
}