/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */   

    	@import 'bootstrap-sprockets';
        @import 'bootstrap';
        $bg-color: #dddddd;

    body {
        background-image: asset_url("virtualgar-02-01.jpg");   
        background-size: cover; 
    }
    
    #logo{
        width: 377px;
        position: relative;
        margin: auto;
        padding: 10px;
    }

    //make the navigation bar items more spaced out
    ul{
        li{
            margin-left: 20px;
        }   
    }
    
    h1{
        padding-left: 30px;
    }

    .container-fluid.cars{    
        margin:30px;
        object-fit: fill;
        align-items: center;
        height: 250px;
        width: 400px;                            
    }

    .container-fluid.cars:hover{
        .caption{
            font-weight: bold;
        }
    }

    .caption{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .img-responsive{
        width: 100%;
        //height: 100%;
    }
    .thumbnail{
        width: 100%;
        padding: 3px;
    }

    #login{
        padding-left: 30px;
    }

    .form_wrapper{
        display: inline-block;
        padding-right: 20px;
        background-color: #222;
        position: fixed;
        color: darkgray;
         .button{
            color: black;
        }

    }  

    .field{
        padding-left: 30px;
    }

    .actions{
        padding-left: 30px;
    }

    .link{
        padding-left: 30px;
    }