// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    $bgcolor: #F0E4E5;
//index 
.col-sm-12.col-md-6.col-lg-4{
    margin:20px;
    padding: 0px;
    object-fit: fill;
    object-position: center;
    align-items: center;
    height: 300px;
    width: 450px;
}
.col-sm-12.col-md-6.col-lg-4:hover{
    .caption{
        font-weight: bold;
    }
}
.index_link{
    margin-bottom: 20px;
    color: black;
  
    &:visited {
      color: black;
    }
  
    &:hover {
      color: black;
      background-color: transparent;
    }
}

//show
.text-wrapper{
    padding-bottom: 50px;
    padding-left: 50px;
    background: $bgcolor;
    width: 100%;
}
.car-show-text{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.caption{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.description-wrapper{
    word-wrap: break-word;
    width: 400px;
    margin-right:50px;
    float: right;
}
.link-button{
    text-align: center;
    width: 100px;
    float: right;
    padding: 20px;
    margin: 10px;
    font: bold 16px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    transition: 0.2s;    
}
.link-button:hover{
    background-color: fade-in($color: darkgrey, $amount: 1);;
}
.img-wrapper{
    padding: 20px;
    float: left;
    width: 600px;
    height: auto;
    #show-img{
        width: 100%;
    }
}
.small-img{
  
    width: 100%;
    float: left;
    padding: 20px;
    img{  
        margin-right: 5px;
    }
}
.show-img-small{
    border-style: solid;
    transition: 0.2s;
    width: 120px;
    height: auto;
}
.show-img-small:hover{
    img{
        border-style: solid;
    }
}

