    $bgcolor: #F0E4E5;

.answer{
    font-size: medium;
    margin-left: 60px;
    padding-bottom: 30px;
    width: 600px;
}
.question{
    font-weight: bold;
    font-size: large;
    margin-left: 40px;
}
.faqs{
    background-color: $bgcolor;
    h2{
        text-align: center;
    }
}