-#a static FAQ page
.faqs.container-fluid
    %h2=t('.page_title')
    %p.question=t('.question1')
    %p.answer=t('.answer1')

    %p.question=t('.question2')
    %p.answer
        =t('.answer2_html')
        =link_to(t('.answer2_link'), new_user_registration_path)

    %p.question=t('.question3')
    %p.answer=t('.answer3_html')

    %p.question=t('.question4')
    %p.answer=t('.answer4_html')
