-#a static FAQ page 
.faqs.container-fluid
    %h1 Virtual Garage FAQs
    %p.question What is Virtual Garage?
    %p.answer Virtual Garage is a place for car enthusiasts to browse through their favorite vehicles. Why not even add their own one to the website? Virtual Garage is a collection of user-added cars, modified or not, that make their owners proud.

    %p.question How do I add a car?
    %p.answer
        All you have to do to add your ride to Virtual Garage, is to have a registration and some pictures of your car. If you have not already signed up, you can do it from 
        =link_to "here",  new_user_registration_path
        &#46; After you have signed in your account, simply click the add a car link at the top navigation menu and enter your car's details and upload your pictures.

    %p.question What is the optimal photo resolution?
    %p.answer 
        For the best Virtual Garage experience and to prevent your photos from deforming, you should use 
        %strong 1920x1080 
        pictures, or pictures with an aspect ratio of
        %strong 16:9 
        

    %p.question How do I contact Virtual Garage?
    %p.answer Feel free to email us at virtualgaragee1@gmail.com, or by filling out the contact us form, the link to which can be found at the bottom right of the webpage
