/# apply a different style to this page
= stylesheet_link_tag "garage"

%body
    %h1=t('.garage', username: @username)
    - @cars.each do |car|
        -if car.user_id == User.find_by_username(params[:id]).id
            .col-12.garage
                = link_to (image_tag car.thumbnail(0), class: 'img-responsive', class: 'thumbnail-garage' ), car


