%h1 Virtual Garage
%body
  .row
- @cars.each do |car|
  .col-sm-6.col-md-3
    .container
      = link_to (image_tag car.image.url, class: 'img-responsive'), car
      .caption
        %p 
          = car.make + ', ' + car.model + ', ' + car.engine

