%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %div{:class => 'logo_area'}
        %navbar-brand
          %a{href: root_path}
            %img{:src => asset_url("virtualgarage.png"), :id => 'logo'}
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href => new_user_registration_path}
          %span.glyphicon.glyphicon-user
          Sign Up
      %li
        %a{:href => new_user_session_path}
          %span.glyphicon.glyphicon-log-in
          Login

