%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %div{:class => 'logo_area'}
        %navbar-brand
          %img{:src => '/assets/virtualgarage.png', :id => 'logo'}
    %ul.nav.navbar-nav
      %li
        %a{:href => root_path} Home
      %li
        %a{:href => garage_path(current_user.username)} My Garage
      %li
        %a{:href =>  edit_user_registration_path} My Account
      %li
        %a{:href => new_car_path} Add a car      
    %ul.nav.navbar-nav.navbar-right 
      %li
        = form_tag search_path, method: :get, class: "navbar-form navbar-right", role: "search" do
          %p
            = text_field_tag :search, '' , class: "form-control", placeholder: "Search for a user's garage"
            = submit_tag "Search", class: "btn btn-default"
   
      %li
        %a{:href => destroy_user_session_path, :method => :delete}
          %span.glyphicon.glyphicon-log-in
          Sign out
        
        

