%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand= t('title')
    %ul.nav.navbar-nav
      %li
        %a{:href => root_path} Home
      %li
        %a{:href => new_car_path} Add a car
      %li
        %a{:href =>  edit_user_registration_path} My Account
    %ul.nav.navbar-nav.navbar-right
      //%li 
      //%strong= current_user.email 
      %li
        %a{:href => "#"} Contact us      
      %li
        %a{:href => destroy_user_session_path, :method => :delete}
          %span.glyphicon.glyphicon-log-in
          Sign out 
        //figure out why this does not work
        
        

