%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand Virtual Garage
    %ul.nav.navbar-nav
      %li.active
        %a{:href => root_path} Home
      %li
        %a{:href => "#"} Page 1
      %li
        %a{:href => "#"} Page 2
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href => new_user_registration_path}
          %span.glyphicon.glyphicon-user
          Sign Up
      %li
        %a{:href => new_user_session_path}
          %span.glyphicon.glyphicon-log-in
          Login

